
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Data storage using Blockchain</title>
</head>
<body>
    <h1>Welcome to Ford</h1>
    <p>To Add new Service <a href='/new_data'>click Here</a></p>
    <p>To Search with VIN number <a href='/search-data'>click Here</a></p>
</body>
</html>

-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Ford</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-qwYYKjQ0x6lL8XUcqu0vIL3zj4mI4s8z36dei6wB3yxErTPpVgX9KjIb+53aZ2VTgZzrojGDXCnUn35klG/jtQ==" crossorigin="anonymous" />
    <!-- Custom CSS -->
    <style>
        body {
            padding: 20px;
        }
        p{
            display: inline;
            padding: 3px 2px 3px 1px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Ford</h1>
        <div class="row">
            <div class="col-md-6">
                <p>Add New Service Entry</p>
                <a href='/new_data'>
                <button class="btn btn-primary">
                    Click Here
                </button>
                </a>
            </div>
            <div class="col-md-6">
                <p>Search with VIN</p>
                <a href="/search-data">
                <button class="btn btn-secondary">
                    Click Here
                </button></a>
            </div>
        </div>
    </div>
</body>
</html>
